/*------------------------------

    HTML

-------------------------------*/

html, body {
    font-size: 100%;
}

body {
    background: #fff;
    color: #000;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

a {color: inherit;text-decoration: none;}
